*{
    margin: 0;
    padding: 0%;
}

.title{
 color: black;
 background-color: beige;
 text-align: center;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin-left: 200px;
    margin-top: 0;
    /* padding: 30px; */
    border: 10px;
    
}
.box2{
    height: 200px;
    /* border: 10px solid ; */
    width: 200px;
    background-color: aquamarine;
    padding: 40px;
    /* tubl short hand margin property */
    /* margin:10px 20px 30px 40px ; */
     /* margin in pixel widh in % */
}
.box3{
    height: 200px;
    width: 200px; 
    background-color: blue;
    /* margin: 20px;px ; */
}
